@import '@/styles/utils';

.header-mobile {
  position: relative;
  margin: 12px 0;

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    padding: 10px;

    @media #{$screen-xs} {
      padding: 14px;
    }
  }

  &__icon {
    width: 18px;
    height: 12px;
  }

  &__logo {
    width: 100%;
    text-align: center;
  }
}
