@import '@/styles/utils';

.inner {
  display: flex;
  min-height: 80px;
}

.left {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.right {
  margin-left: auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon {
  cursor: pointer;
  color: $c-dark-variant;
  width: 20px;
  height: 20px;
  margin-left: 40px;

  &:hover {
    color: $c-primary;
  }
}
