@import './font';
@import './color';
@import './typography';
@import './grid';

* {
  box-sizing: border-box;

  &::before,
  &::after {
      box-sizing: border-box;
  }
}

body {
  background-color: $c-body;
  font-family: $font-family-primary, 'Arial', sans-serif;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

button {
  padding: 0;
  margin: 0;
  line-height: 100%;
}
