@import '@/styles/utils';

.menu {
  $self: &;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  background-color: $c-white;
  z-index: 10;
  box-shadow: 0px -2px 10px rgba(29, 31, 34, 0.15);
  padding: 10px 15px;
  
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20%;
  }

  &__button {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 12px;
    color: $c-gray;

    &_active, &:hover {
      color: $c-primary;

      #{$self}__icon {
        color: $c-primary;
      }
    }
  }

  &__icon {
    color: $c-gray;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

  &__cart {
    position: absolute;
    right: 5%;
    bottom: 10px;
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: $c-gray;
    cursor: pointer;

    &:hover {
      color: $c-primary;

      #{$self}__cart-icon {
        box-shadow: 0 0 0 5px $c-primary-variant;
      }
    }

    &:active {
      #{$self}__cart-icon {
        background-color: $c-primary-variant;
      }
    }

    &-icon {
      background-color: $c-primary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      transition: box-shadow 0.2s;
    }

    #{$self}__icon {
      width: 25px;
      height: 25px;
      color: $c-white;
      margin: 18px;

      @media #{$screen-xm} {
        width: 30px;
        height: 30px;
      }
    }
  }
}
