@import '@/styles/utils';

$offset-position: 99;

.menu-mobile {
  position: fixed;
  left: -#{$offset-position}px;
  right: calc(100vw + #{$offset-position}px);
  top: 0;
  bottom: 0;
  transition: left 0.3s, right 0.3s;
  background-color: $c-white;
  z-index: 20;

  &_show {
    left: 0;
    right: 0;
  }

  &__header {
    background-color: $c-light;
    min-height: 50px;
  }

  &__icon {
    width: 7px;
    height: 14px;

    &_right {
      transform: rotate(180deg);
    }
  }

  &__button, &__back {
    background-color: transparent;
    border: none;
  }

  &__button {
    background-color: $c-light;
    padding: 15px;
    cursor: pointer;
  }

  &__inner {
    overflow-y: auto;
  }

  &__list {
    list-style-type: none;
    position: relative;
    left: 0;
    right: 0;
    transition: all 0.5s;

    &_prev {
      position: absolute;
      left: -999px;
      right: calc(100vw - 999px);
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $c-light;
    min-height: 54px;
  }

  &__title {
    width: 100%;
    margin-right: 15px;
  }
}
