@import '@/styles/utils';

.arrow {
  $self: &;

  padding: 10px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &-icon {
    width: 25px;
    height: 12px;
    color: $c-dark;
    transition: color 0.2s;

    &_left {
      transform: rotate(0deg);
    }
  
    &_right {
      transform: rotate(180deg);
    }
  }
  
  &_default, &_long, &_rounded {
    background-color: $c-light;

    &:hover {
      background-color: $c-dark;

      #{$self}-icon {
        color: $c-light;
      }
    }
  }

  &_long {
    #{$self}-icon_left {
      margin-right: 35px;
    }

    #{$self}-icon_right {
      margin-left: 35px;
    }
  }

  &_transparent {
    background-color: transparent;

    &:hover {
      #{$self}-icon {
        color: $c-gray;
      }
    }
  }

  &_rounded {
    border-radius: 100px;
    padding: 16px;
  }
}
